.App{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left:0;
  background: url("./images/pexels-lumn-167699.jpg") no-repeat top center fixed;
  background-size: cover;
}
.nothing{
  height: 10vh;
  width: 100vh;
}
.card{
  position: relative;
  height: 70vh;
  width: 60vh;
  left:50%;
  transform: translatex(-50%);
}